In [1]:
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt 
import seaborn as sns 

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [4]:
df_DA_Spain = df[(df['job_country'] == "Spain") & (df['job_title'] == 'Data Analyst')].copy()
df_DA_Spain['job_posted_month_no'] = df_DA_Spain['job_posted_date'].dt.month
df_spain_skills = df_DA_Spain.explode('job_skills')

In [7]:
df_spain_pivot = df_spain_skills.pivot_table(index='job_posted_month_no', columns='job_skills', aggfunc='size', fill_value=0)
df_spain_pivot

job_skills,airflow,alteryx,angular,asana,atlassian,aurora,aws,azure,bash,bigquery,...,unix,vb.net,vba,visio,visual basic,vue,webex,windows,word,zoom
job_posted_month_no,,,,,,,,,,,,,,,,,,,,,
1,0,7,2,0,0,2,9,13,0,3,...,0,0,3,0,0,0,0,0,1,2
2,2,1,0,0,0,0,7,13,0,6,...,0,0,6,0,0,0,1,1,2,1
3,0,1,0,0,0,0,2,5,0,4,...,0,0,2,0,0,0,0,0,4,0
4,1,2,1,0,0,0,6,10,0,6,...,1,0,5,0,1,0,0,1,3,0
5,0,0,0,0,0,0,4,2,0,6,...,0,0,9,1,0,0,0,0,4,0
6,2,2,0,1,0,0,9,6,0,7,...,0,0,5,0,0,1,0,0,2,0
7,5,3,0,1,0,0,5,6,0,4,...,0,1,4,0,0,0,0,0,1,1
8,6,3,1,0,1,0,11,12,0,10,...,0,1,5,0,0,0,0,2,0,0
9,4,1,1,0,0,2,11,10,2,11,...,0,0,1,0,1,0,0,1,2,1
10,2,1,1,0,0,0,9,10,0,7,...,0,0,3,0,1,0,0,1,2,1
11,1,2,1,0,0,0,6,9,0,4,...,0,0,3,0,0,0,0,1,2,0
12,3,1,3,0,0,1,16,9,1,8,...,0,0,3,1,1,0,0,0,3,1